<div class="create">
  <h1> Welcome to Fantasy Football</h1>


 
  <br>
  <p> Please input your information below to create an account</p>
  <form action='/create_user' method="POST">
    <label> First Name: <input type='text' name='create_user[first_name]'></label><br>
    <label> Last Name: <input type='text' name='create_user[last_name]'></label><br>
    <label> Email: <input type='text' name='create_user[email]'></label><br>
    <label> Password: <input type='text' name='create_user[password]'></label><br>
    <label> Team Name: <input type='text' name='create_user[team_name]'></label><br>
    <input type='submit' value='Create User'>
  </form>

