

  <h1>Fantasy Footballer</h1>

    <br>
  <form action='/team' value='GET'>
   <input type='submit' value='Go to Home Page'>
</form><br>

  <p>Sign Up to keep track of your Fantasy Football Team</p>
  
  <form action="/login" method="GET">
    <label>Email: <input type="text" name="user[email]"></label>
    <br>
    <label>Password: <input type="text" name="user[password]"></label><br>
    <input type='submit' value="Login">
  </form>

<br>
<br>

<p> Click Button below to create a New Account</p>
  <form action="/create_user" method="GET">
    <input type='submit' value="Create a User">
  </form>


