<div class='index_top'>
    <h1 class='fantasy_footballer'>Fantasy Footballer</h1>
    <img class='football_logos' style='height:200px; width: 600px' src='http://img.gawkerassets.com/img/190n6m0hbpw7ajpg/ku-bigpic.jpg'>
</div>

    <br>
  <br>

  <p>Sign Up to keep track of your Fantasy Football Team</p>
  
  <form action="/login" method="GET">
    <label>Email: <input type="text" name="user[email]"></label>
    <br>
    <label>Password: <input type="password" name="user[password]"></label><br>
    <input class='submit_button_login' type='submit' value="Login">
  </form>

<br>
<br>

<p> Click Button below to create a New Account</p>
  <form action="/create_user" method="GET">
    <input class='create_button' type='submit' value="Create a User">
  </form>


