
  <p> Welcome to your Team's Home Page</p>

  <% if current_user %>
    <%= current_user.team_name %>
  <% end %>

  <p> Click the Button below to add a Player to your Team</p>
  <form action='/create_player' method='GET'>
    <input type='submit' value='Add A Player'>
    </form>

